
# PlanAhead Generated physical constraints 

NET "MUX[0]" LOC = F17;
NET "MUX[1]" LOC = H17;
NET "MUX[2]" LOC = C18;
NET "MUX[3]" LOC = F15;
NET "clk" LOC = B8;
NET "tx_full" LOC = J14;
NET "reset" LOC = H13;
NET "btn" LOC = B18;
NET "rx" LOC = U6;
NET "tx" LOC = P9;
NET "rx_s_empty" LOC = J15;
NET "salida[0]" LOC = L18;
NET "salida[1]" LOC = F18;
NET "salida[2]" LOC = D17;
NET "salida[3]" LOC = D16;
NET "salida[4]" LOC = G14;
NET "salida[5]" LOC = J17;
NET "salida[6]" LOC = H14;
NET "salida[7]" LOC = C17;
